<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Carnegie Pet Adoption</title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body class="body">
<div class="banner">
<h1> Carnegie Pet Adoption</h1>
</div>
<hr style="width:90%;">
<nav>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </nav>
<h1 style="text-align: center;color:#404040">Please login to search for adoptable pets!</h1>

<div class="container">

  <div>

    <header>

    </header>
    </div>
    </div>
  </body>
</html>
