<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Carnegie Pet Adoption | Sign up</title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
  <div class="banner">
    <h1> Carnegie Pet Adoption</h1>
  </div>
  <hr>
  <div class="signup">
    <h1>Sign up</h1>
    <form  action="/users" method="post">
        <input type="text" name="user[username]" value="" placeholder="Username">
        <input type="password" name="user[password]" value="" placeholder="Password">
        <input type="submit" value="Sign up">
    </form>
    </div>
  </body>
</html>
