<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body class="body">
    <div class="banner">
    <h1> Carnegie Pet Adoption</h1>
  </div>
  <hr>
    <h1>Welcome! <%= user.username %></h1>
    <a href="/pets">Pet Search</a>
    <form action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout">
    </form>
  </body>
</html>
